extends ../layout

block content
  h1= title
  
  dl
    dt
      p Display with bundle.js
    dd
      p(id="greeting")
    dt
      p Shared JSON data with server
    dd
      p(id="fizz")
  
  ul
    li
     a(href="api/greet") Greet API
    li
     a(href="static.html") Static Resource
  
  script(id="initial-data" tyle="text/plain" data-json="#{initialData}")
  script(src="javascripts/bundle.js")
